---
import BlogPostPreview from '../components/BlogPostPreview.astro';
import BaseLayout from '../components/BaseLayout.astro';
import { SITE } from '../config';

const meta = {
	title: SITE.title,
	description: SITE.description,
	image: SITE.image,
};

const unsortedPosts = await Astro.glob('./posts/*.md');
const nonDraftPosts = unsortedPosts.filter((post) => !post.frontmatter.draft);
const posts = nonDraftPosts.sort(function (a, b) {
	return new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf();
});
---

<BaseLayout meta={meta}>
	<main class='content'>
		<section aria-label='Blog post list' class='mt-6 space-y-6'>
			{posts.map(({ url, frontmatter }) => (
				<BlogPostPreview
					title={frontmatter.title}
					description={frontmatter.description}
					publishDate={frontmatter.publishDate}
					url={url}
					author="testAuthor"
					category={frontmatter.category}
					image={frontmatter.heroImage.src}
				/>
			))}
		</section>
	</main>
</BaseLayout>
