---
import BlogPostPreview from '../components/BlogPostPreview.astro';
import BaseLayout from '../components/BaseLayout.astro';
import { SITE } from '../config';

const meta = {
	title: SITE.title,
	description: SITE.description,
	image: SITE.image,
};

// Use Astro.glob to fetch all post with associated frontmatter
const unsortedPosts = await Astro.glob('./posts/*.md');
const posts = unsortedPosts.sort(function (a, b) {
	return new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf();
});
---

<BaseLayout meta={meta}>
	<div class='mx-auto max-w-6xl px-2 md:px-6 lg:px-8 transition-all duration-200'>
		<main class='content'>
			<section class='intro'>
				<h1 class='text-lm-heading dark:text-dm-heading mt-10 text-3xl'>Blog</h1>
			</section>
			<section aria-label='Blog post list' class='mt-6 space-y-6'>
				{posts.map(({ url, frontmatter }) => (
					<BlogPostPreview
						title={frontmatter.title}
						description={frontmatter.description}
						publishDate={frontmatter.publishDate}
						url={url}
						author="testAuthor"
						category={frontmatter.category}
					/>
				))}
			</section>
		</main>
	</div>
</BaseLayout>
