---
import { SITE } from '@config';
import '@styles/fonts.css';

export interface Props {
	title: string;
	description: string;
	image?: string;
	creator?: string;
}

const { title = SITE.title, description, image = SITE.image, creator } = Astro.props;
// const imageRelativePath = image.replace(/^\/src/, '');
// const imageUrl = `${SITE.url}${imageRelativePath}`;
// console.log(imageUrl);

let twitterHandle: string | undefined;

if (creator) {
	if (!twitterHandle?.startsWith('@')) {
		twitterHandle = `@${twitterHandle}`;
	}
}
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<meta name="theme-color" />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={image} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={image} />
{twitterHandle && <meta property="twitter:creator" content={twitterHandle} />}

<script is:inline>
	const root = document.documentElement;
	const theme = localStorage.getItem('color-theme');
	const metaTheme = document.querySelector('meta[name="theme-color"]');
	if (theme === 'dark' || (!theme && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
		root.classList.add('dark');
		localStorage.setItem('color-theme', 'dark');
		metaTheme.setAttribute('content', '#191E2C');
	} else {
		root.classList.remove('dark');
		localStorage.setItem('color-theme', 'light');
		metaTheme.setAttribute('content', '#FFFFFF');
	}
</script>
