---
import Badge from '@components/Badge.astro';
import { Picture, Image } from '@astrojs/image/components';
import { blogImage } from '@util/images';
import type { Author } from '@types';
import { Authors } from '@config';
import '@components/BlogPostPreview.css';

export interface Props {
	title: string;
	description: string;
	pubDate: string;
	url: string;
	author: string;
	heroImage?: {
		src: string;
		alt: string;
	};
	category: 'dev' | 'exploit' | 'misc' | 'release';
}

const { title, description, pubDate, url, author, heroImage, category } = Astro.props as Props;
const authorInfo = Authors[author] as Author;
const authorImage = await blogImage(authorInfo.avatar);
let img;
if (heroImage != undefined) {
	img = await blogImage(heroImage.src);
}
---

<div>
	<a href={url}>
		<article class="card rounded-lg sm:h-[270px] sm:card-side bg-lm-faded dark:bg-dm-faded shadow-xl transition-all duration-200">
			{img && (
				<div class="m-4 rounded-lg overflow-hidden shrink-0">
					<figure class="md:max-w-sm sm:max-w-xs sm:h-full max-w-full h-52">
						<Picture
							class="heroImage w-full h-full"
							src={img}
							alt={heroImage != undefined ? heroImage.alt : ''}
							aspectRatio={16 / 9}
							widths={[200, 400, 800]}
							sizes="(max-width: 800px) 100vw, 800px"
						/>
					</figure>
				</div>
			)}
			<div class="card-body p-5">
				<div class="flex items-center space-x-2">
					<Badge type={category} size={'small'} />
					<time class="text-xs text-lm-body dark:text-dm-body">{pubDate}</time>
				</div>
				<h2 class="mt-3 card-title lg:text-[32px] lg:leading-[40px] md:text-2xl sm:text-xl text-[32px] text-lm-heading dark:text-dm-heading">{title}</h2>
				<p class="mt-2 text-md line-clamp-2 flex-grow-0 text-lm-body dark:text-dm-body">{description}</p>
				<div class="mt-auto flex items-center">
					<div class="avatar mr-3">
						{authorImage && (
							<div class="w-8 rounded-full">
								<Image src={authorImage} alt="avatar" width={32} height={32} format={'webp'} />
							</div>
						)}
					</div>
					<div>
						<span class="text-sm text-lm-body dark:text-dm-body">{authorInfo.name}</span>
					</div>
				</div>
			</div>
		</article>
	</a>
</div>
