---
import logoDark from '/assets/logo/logo_dark_mono.svg';
import logoLight from '/assets/logo/logo_light_mono.svg';
import { SITE } from '@config';
import Icon from 'astro-icon';
---

<footer class="text-sm text-text-faded mt-16 bg-lm-faded dark:bg-dm-faded">
	<div class="max-w-6xl mx-auto py-6 px-2 md:px-6 lg:px-8 flex-col sm:flex-row flex sm:justify-between space-y-3">
		<div class="flex-col space-y-3">
			<a href="/" class="flex justify-start items-center mb-4 sm:mb-0">
				<img src={logoDark} alt="logo" class="hidden dark:block mr-3 h-8" />
				<img src={logoLight} alt="logo" class="block dark:hidden mr-3 h-8" />
			</a>
			<div>
				<p>zyantific team development blog</p>
			</div>
			<div class="text-start">
				<a class="text-brand hover:underline text-shadow" href={`mailto:${SITE.contact}`}>{SITE.contact}</a>
			</div>
		</div>
		<ul class="flex flex-wrap items-center mb-6 text-gray-500 sm:mb-0 dark:text-gray-400">
			<li>
				<a href={SITE.github} class="hover:underline text-brand inline-flex"
					><Icon name="ion:logo-github" class="text-lm-header-text dark:text-dm-header-text w-5 h-5 transition-all duration-200 mr-1" />zyantific
				</a>
			</li>
		</ul>
	</div>
	<hr class="border-text-faded/10" />
	<div class="max-w-6xl mx-auto py-6 px-2 md:px-6 lg:px-8 sm:flex sm:items-center sm:justify-between">
		<div class="flex sm:flex-col space-y-3 sm:space-y-0">
			<span class="max-w-6xl block">© 2022 <a href="https://zyantific.com/" class="hover:underline">zyantific</a>. All Rights Reserved.</span>
		</div>
		<ul class="mt-4 sm:mt-0 flex flex-wrap items-center">
			<li>
				<a href="/privacy-policy" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
			</li>
			<li>
				<a href="/imprint" class="hover:underline">Imprint</a>
			</li>
		</ul>
	</div>
</footer>
