---
import BaseLayout from '../components/BaseLayout.astro';

export interface Props {
	content: {
		title: string;
		description: string;
		publishDate: string;
		creator: string;
		heroImage?: {
			src: string;
			alt: string;
		};
	};
}

const {
	content: { title, description, publishDate, creator, heroImage },
} = Astro.props as Props;
---

<BaseLayout title={title} description={description} creator={creator} image={heroImage.src}>
	<article class='prose prose-sm md:prose-base dark:prose-invert mx-auto max-w-4xl px-2 md:px-6 lg:px-8 transition-all duration-200'>
		<header>
			{heroImage && <img width="720" height="420" loading="lazy" src={heroImage.src} alt={heroImage.alt} />}
			<h1 class='title'>{title}</h1>
			<time>{publishDate}</time>
		</header>
		<main>
			<slot></slot>
		</main>
	</article>
</BaseLayout>
