---
import Badge from '../components/Badge.astro';
import BaseLayout from '../components/BaseLayout.astro';
import type { Props as BadgeProps } from '../components/Badge.astro';
import { SITE } from '../config';
import Sidebar from '../components/Sidebar/Sidebar.astro';
import { Picture } from '@astrojs/image/components';
import { blogImage } from '../util/images';

export interface Props {
	content: {
		title: string;
		description: string;
		publishDate: string;
		creator: string;
		category: 'dev' | 'exploit' | 'misc' | 'release';
		heroImage?: {
			src: string;
			alt: string;
		};
	};
	headings: Heading[];
}

export interface Heading {
	depth: number;
	slug: string;
	text: string;
}

const {
	content: { title, description, publishDate, creator, category, heroImage },
	headings,
} = Astro.props as Props;

const meta = {
	title: title,
	description: description,
	image: heroImage ? heroImage.src : SITE.image,
	creator: creator,
};

const heroImg = await blogImage(heroImage.src);
---

<BaseLayout meta={meta}>
	<article class="prose prose-sm md:prose-base dark:prose-invert mx-auto max-w-6xl transition-all duration-200">
		<header>
			<div class="not-prose">
				<h1 class="font-bold text-[40px] text-lm-heading dark:text-dm-heading">{title}</h1>
				<div class="flex items-center space-x-4 mb-5">
					<Badge type={category} size={'large'} />
					<time class="text-text-faded">{publishDate}</time>
				</div>
			</div>
			{heroImg && (
				<div class="min-w-full">
					<Picture src={heroImg} alt="Telekom-Logo on a wall" aspectRatio={16 / 9} widths={[200, 400, 800]} sizes="(max-width: 800px) 100vw, 800px" />
				</div>
			)}
		</header>
		<div class="flex justify-center">
			<main class="basis-[686px] max-w-[686px] min-w-0">
				<slot />
			</main>
			<aside class="basis-64 flex-grow-0 flex-shrink ml-auto not-prose sticky h-fit top-0 hidden sm:block">
				{headings.length !== 0 && <Sidebar headings={headings} />}
			</aside>
		</div>
	</article>
</BaseLayout>

<style>
	article > header :global(picture) {
		@apply w-full h-[350px];
	}
	article > header :global(img) {
		@apply w-full h-[350px] object-cover rounded-lg overflow-hidden;
	}
</style>
