---
import BaseLayout from '../components/BaseLayout.astro';
import { SITE } from '../config';

export interface Props {
	content: {
		title: string;
		description: string;
		publishDate: string;
		creator: string;
		heroImage?: {
			src: string;
			alt: string;
		};
	};
}

const {
	content: { title, description, publishDate, creator, heroImage },
} = Astro.props as Props;

const meta = {
	title: title,
	description: description,
	image: heroImage ? heroImage.src : SITE.image,
	creator: creator,
};
---

<BaseLayout meta={meta}>
	<article class='prose prose-sm md:prose-base dark:prose-invert mx-auto max-w-6xl px-2 md:px-6 lg:px-8 transition-all duration-200'>
		<header>
			{heroImage && <img width="720" height="420" loading="lazy" src={heroImage.src} alt={heroImage.alt} />}
			<h1 class='title'>{title}</h1>
			<time>{publishDate}</time>
		</header>
		<div class='flex justify-center'>
			<main class='basis-[686px]'>
				<slot></slot>
			</main>
			<aside class='basis-64 flex-grow-0 flex-shrink ml-auto hidden lg:block'>Table of Contents</aside>
		</div>
	</article>
</BaseLayout>
